html {
  font-size: 12px;

  @media only screen and (max-width : 1024px) {
    font-size: 10px;
  }

  @media only screen and (max-width : 1024px) {
    font-size: 10px;
  }
}

body {
  color: $base-white;
  font-weight: 400;
  line-height: 21px;
}

* {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0 auto;
  box-sizing: border-box;

  &__gallery {

    @media only screen and (min-width : 1248px) {
      padding: 0;
    }
  }
}

.section {
  margin-top: 5rem ;
  margin-bottom: 5rem;
}

.main-logo {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 24px;
  display: block;
  width: 140px;
  height: 20px;
  text-decoration: none;
  text-align: center;
  color: $base-white;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    color: $base-red;
  }
}

.section-title {
  position: relative;
  font-family: $font-family--Oswald;
  font-size: $font-size--section-title;
  margin: 0;
  line-height: 21px;
  text-align: center;
}

.section-title-white {
  color: $white;
  padding-bottom: 5.83rem;
}

.section-title-black {
  color: $base-black;
  padding-bottom: 5rem;
}

//.section-title-black::after {
//  position: absolute;
//  content: "";
//  width: 45px;
//  background-color: $base-black;
//  height: 1px;
//  top: 45%;
//  left: 48%;
//}
//
//.section-title-white::after {
//  position: absolute;
//  content: "";
//  width: 45px;
//  background-color: $white;
//  height: 1px;
//  top: 45%;
//  left: 48%;
//}

.section-subtitle {
  font-family: $font-family--Open-sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #9b9b9b;
  text-align: center;
  margin-right: auto;
  width: 48%;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 5.33rem;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid-wrapper {
  width: 100%;
  max-width: 1170px;
}

.pricing {
  background-color: $base-red;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.footer {
  background-color: $base-black;
  padding-bottom: 3rem;
  margin-bottom: 0;
}

.gallery-text {
  font-family: $font-family--Open-sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $base-red;
  text-align: center;
}