$font-family--Open-sans: "Open Sans", Arial, sans-serif;
$font-family--Oswald: "Oswald", Arial, sans-serif;

$font-size--section-title: 36px;

$base-red: #e25050;
$white: #ffffff;
$base-white: #fefefe;
$base-black: #202020;
$base-grey: #6b6868;
$light-grey: #848e97;