.form-feedback {
  margin-bottom: 9.55rem;

  @media only screen and (max-width : 768px) {
    margin-bottom: 1.55rem;
  }

  &__name {
    font-family: $font-family--Oswald;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-transform: uppercase;
    color: #656565;
    background-color: transparent;
    padding: 1rem;
    border: 2px solid #515151;
    margin-left: 3.25rem;
    width: 32%;

    @media screen and (max-width: 568px) {
      margin-left: 0;
    }

    &--message {
      width: 61.5%;
    }

    &:hover {
      opacity: 0.7;
      border: 2px solid $base-white;
    }

    &:focus {
      outline: 2px solid $base-red;
    }
  }

  &__name:first-child {
    margin-left: 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.33rem;

    @media screen and (max-width: 568px) {
      flex-direction: column;

      input {
        width: 95%;
        margin-bottom: 10px;
      }
    }
  }

  &__button {
    position: relative;
    width: 100%;
    font-family: $font-family--Oswald;
    font-size: 1.16rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-transform: uppercase;
    color: $white;
    background-color: $base-red;
    padding: 1rem 1.75rem;
    border: 2px solid #515151;
    margin-bottom: 1.67rem;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10%;
      width: 10px;
      height: 10px;
      display: block;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      transform: translateY(-50%) rotate(220deg);
    }

    &:hover {
      opacity: 0.7;
      border: 2px solid $base-white;
    }

    &:focus {
      outline: 3px solid $white;
    }
  }

  &__message {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 568px) {
      flex-direction: column;

      textarea {
        width: 95%;
        margin-bottom: 10px;
      }
    }
  }

  &__wrapper-btn {
    width: 30%;

    @media screen and (max-width: 568px) {
      width: 100%;
    }
  }
}