.home {

  &__title {
    font-family: $font-family--Oswald;
    font-size: 3rem;
    margin: 0 auto;
    line-height: 3.33rem;
    text-align: center;
    color: $base-red;
    width: 100%;
    max-width: 500px;
    margin-bottom: 3rem;
  }
}