.idea {

  &__title {
    font-family: $font-family--Oswald;
    font-size: 4.5rem;
    margin: 0 auto;
    line-height: 4rem;
    text-align: center;
    color: $base-red;
    width: 100%;
    margin-bottom: 3rem;

    @media screen and (max-width: 652px) {
      line-height: 5.2rem;
    }
  }

  &__text {
    font-family: $font-family--Oswald;
    font-size: 2.5rem;
    margin: 0 auto;
    line-height: 2.5rem;
    letter-spacing: 1px;
    text-align: center;
    color: $base-black;
    width: 100%;
    margin-bottom: 5rem;

    &--small {
      font-size: 1.33rem;
      color: $base-grey;
    }
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__image {
    margin-left: 3rem;

    @media screen and (max-width:650px) {
      margin-left: 0;
    }

    @media screen and (max-width:450px) {
      width: 100%;
      margin-left: 3rem;
      margin-right: 3rem;
    }

  }
}