.main-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #323232;
  padding-bottom: 2.5rem;

  @media only screen and (max-width : 768px) {
    flex-direction: column;
  }

  &__feedback {
    display: flex;
    align-items: center;
    max-width: 55%;

    @media only screen and (max-width : 768px) {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__feedback-content {
    font-family: $font-family--Open-sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    color: #c4c4c4;
    margin: 0;
  }

  &__feedback-text {
    font-family: $font-family--Open-sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    color: #c4c4c4;
    opacity: 0.6;
  }

  &__logo {
    font-size: 25px;
    color: $white;
  }

  &__icon {
    font-size: 14px;
  }

  &__link {
    color: $white;
    margin-left: 1.33rem;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: none;
      color: $base-red;
    }
  }

  &__logo-link {
    margin-right: 20px;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: none;

      .main-footer__logo {
        color: $base-red;
      }
    }
  }
}