.main-navigation {

  @media only screen and (max-width : 1024px) {
    flex-wrap: wrap;
  }

  @media only screen and (max-width : 768px) {
    justify-content: initial;
  }

  &__item {
    margin-left: 3.08rem;

    @media only screen and (min-width : 768px) and (max-width : 1024px) {
      margin-left: 2rem;
    }

    @media only screen and (max-width : 768px) {
      min-width: 105px;
    }
  }

  &__item:first-child .main-navigation__link {
      background-color: $base-red;
      border: 1px solid $base-red;
      border-radius: 1rem;

    &:focus {
      outline: none;
      color: $base-black;
    }
  }

  &__link {
    font-family: $font-family--Oswald;
    font-size: 1.16rem;
    font-weight: 400;
    display: block;
    padding: 1rem 1.25rem;
    color: $base-white;
    text-decoration: none;

    &:hover {
      background-color: $base-red;
      border-radius: 1rem;
    }

    &:focus {
      outline: none;
      color: $base-red;
    }
  }

}

