.plan-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    font-family: $font-family--Open-sans;
    font-size: 1rem;
    line-height: 1.75rem;

    &::before {
      content: '✔';
      color: #fefbfb;
    }
  }
}